= form_for @card do |f|

  = error_messages_for @card
  .row
    .col-md-6
      .form-group
        = f.label :second_name
        = f.text_field :second_name
        = f.error_messages_for(:second_name)
  .row
    .col-md-6
      .form-group
        = f.label :first_name
        = f.text_field :first_name
        = f.error_messages_for(:first_name)
  .row
    .col-md-6
      .form-group
        = f.label :last_name
        = f.text_field :last_name
        = f.error_messages_for(:last_name)
  .row
    .col-md-6
      .form-group
        = f.label :passport
        = f.text_field :passport
        = f.error_messages_for(:passport)
  .row
    .col-md-6
      .form-group
        = f.label :insurance
        = f.number_field :insurance
        = f.error_messages_for(:insurance)
  .row
    .col-md-6
      .form-group
        = f.label :residence
        = f.text_field :residence, class: 'form-control'
        = f.error_messages_for(:residence)
  .row
    .col-md-6
      .form-group
        = f.label :created
        .input-group.date.datepicker
          = f.text_field(:created, value: lnil(f.object.created),
          class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        = f.error_messages_for(:created)
  .row
    .col-md-6
      .form-group
        = f.label :allergy
        = f.text_field :allergy, class: 'form-control'
        = f.error_messages_for(:allergy)
  .row
    .col-md-6
      .form-group
        = f.label :cart_number
        = f.number_field :cart_number, class: 'form-control'
        = f.error_messages_for(:cart_number)

  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
